#header {
    display: flex;
    justify-content: center;
}
#logo {
    width: 400px;
    height: 200px;
    margin-top: 30px;
}

#logosmall {
    display: none;
    width: 100px;
    height: 65px;
}

#mobileNav {
    display: none;
}

.burger {
    display: none;
}

.fa-times {
    font-size: 40px;
    margin-right: 2px;
}

.fa-bars {
    font-size: 40px;
}

.nav {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

a:hover {
    color: grey
}

.menuitem {
    text-decoration: none;
    color: black;
    
}

#dropdown-content {
    display: none;
    /* position: absolute; */
    position:fixed;
    margin-left: -45px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

#mobiledrop {
    display: none;
}

#dropdown-content a:hover {background-color: #ddd;}

#dropdown:hover #dropdown-content {
    display: block;
    cursor: pointer;
}

#dropbtn:hover {
    cursor: pointer;
}

#dropdown:hover #dropbtn {color: grey;}

@media screen and (max-width: 768px) {
    #logo {
        display: none;
    }
    #logosmall {
        display: block;
        margin-left: 10px;
    }
    #mobileNav {
        display: flex;
        width: 100vw;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(242, 242, 242);
    }
    .nav {
        width: 100%;
        left: -100%;
        position: absolute;
        opacity: 0;
        background-color: lightgrey;
        transition: all 0.5s ease;
    }
    .nav.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .burger {
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
    }
    .burger:hover {
        cursor: pointer;
    }
    ul {
        flex-direction: column;
        margin-top: 30px;
    }
    li {
        margin-bottom: 30px;
    }
    #dropdown {
        display: none;
    }
    #mobiledrop {
        display: block;
    }
}